<!DOCTYPE html>
<html lang="en">
    <head>
      <script src="https://vuejs.org/js/vue.js"></script>
      <script src="js/js_script.js"></script>
      <link rel="stylesheet" type="text/css" href="css/style.css">
      <title>DELIVERY</title>
    </head>

  <body>

    <section class = header>
      <section id = header>
      <h1>Welcome to BurgerOnline!</h1>
      </section>
      <img src="http://storstadenbostad.se/app/uploads/2017/03/bun_meat_bun-827x315.jpg" id = "bild" alt="Span" title="Another in-line element" width="100%">
    </section>

<main>

  <section class = "burgers " id = burgers>
    <h2>Our burgers: </h2>
    <div>Select one of our delicious burgers</div>

    <div class = "wrapper ">
     <div class="box a">
       <h3>Original burger</h3>
       <img src="https://www.max.se/ImageVaultFiles/id_702/cf_22/Burgers-Beefburger.jpg" alt="Span" title="Another in-line element" width="100">
       <li>Freshly baked bread, beef and mayonnaise</li>
       <section class = "allergy" id="allergy">
         <li> Contains gluten and lactose </li>
      </section>
      <li>756 kcal</li>
    </div>

    <div class="box b">
    <h3>Cheeseburger</h3>
    <img src="https://www.max.se/ImageVaultFiles/id_703/cf_22/Burgers-Cheeseburger.jpg" alt="Span" title="Another in-line element" width="100">
    <li>Freshly baked bread, beef, cheese and mayonnaise</li>
    <section class = "allergy" id="allergy">
      <li> Contains gluten and lactose </li>
   </section>
    <li>800 kcal</li>
    </div>

     <div class="box c">
     <h3>Veggie burger</h3>
     <img src="https://www.max.se/ImageVaultFiles/id_2443/cf_14/Burgers-Halloumi.jpg" alt="Span" title="Another in-line element" width="100">
     <li>Freshly baked bread, halloumi and mayonnaise</li>
     <section class = "allergy" id="allergy">
       <li> Contains gluten and lactose </li>
     </section>
     <li>650 kcal</li>
    </div>

  </section>

    <section class = "customerinfo" id = CI >

      <h2>Customer information </h2>
      <div>Please fill in your delivery information: </div>
      <p>
        <label for="Name">Full name</label><br>
        <input type="text" id="Fullname" name="fn" required="required" placeholder="First- and Last name">
      </p>

      <p>
        <label for="E-mail">E-mail</label><br>
        <input type="email" id="email" name="em" required="required" placeholder="E-mail address">
      </p>

      <p>
        <label for="Street">Street</label><br>
        <input type="text" id="street" name="st" required="required" placeholder="Street name">
      </p>

      <p>
        <label for="House">House</label><br>
        <input type="text" id="House" name="h" required="required" placeholder="House number">
      </p>
      <p>
          <label for="Payment">Payment options</label><br>
          <select id="Payment" name="pay">
              <option> Credit card </option>
              <option>Swich </option>
              <option>By credit card when delivered</option>
              <option>By cash when delivered </option>

          </select>

        </p>
        <p>
        <label for="gender">Gender</label><br>
        <input type="radio" id="gender" name="gender" value="male"> Male<br>
        <input type="radio" id="gender" name="gender" value="female"> Female<br>
        <input type="radio" id="gender" name="gender" value="other"> Do not wish to provide
      </p>

</section>

<button type="submit"><img src="./static/1md034/img/html/image_button.png"> Send </button>


        </main>

    </body>
<br></br>

  <footer> ©BurgerOnline
  </footer>

</html>
